<!DOCTYPE html>
<html>
<head>
  <title>Cat file</title>
  <%= stylesheet_link_tag    "cat_file/application", media: "all" %>
  <%= javascript_include_tag "cat_file/application" %>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>

