/* 文件详情页样式 */
.file-datail {
  margin: 0px 10px;
  /* p {margin: 30px 0px;} */

  &-line {
    margin: 30px 0px;
  }
  
}

/* 文件列表页样式 */
.files-index {
  &-file-names {
    &-search-space {
      .el-row {
        .el-col {
          .serach-input {
            width: 100%;
          }
        }
      }
      .search_2 {
        
      }
      margin-bottom: 15px;
    }
  }
}